#define layout()

<script src="/Public/Theme/Ace/jquery/jquery-1.11.1.min.js"></script> 

<link rel='stylesheet' type='text/css' href='/Public/Theme/Ace/css/framework-font.css'/>
<link rel='stylesheet' type='text/css' href='/Public/Theme/Ace/css/framework-ui.css'/>

<link rel='stylesheet' type='text/css' href='/Public/Theme/Ace/bootstrap/bootstrap.min.css'/>
<script src="/Public/Theme/Ace/bootstrap/bootstrap.min.js"></script> 

<script src="/Public/Theme/Ace/knockout/knockout-latest.js"></script> 

<script src="/Public/Theme/Ace/knockout/knockout.mapping-latest.js"></script> 
<script src="/Public/Theme/Ace/js/kohelper.js"></script> 

<script src="/Public/Theme/Ace/validate/jquery.validate.min.js"></script> 
<script src="/Public/Theme/Ace/My97DatePicker/WdatePicker.js"></script> 

<link rel='stylesheet' type='text/css' href='/Public/Theme/Ace/dialog/dialog.css'/> 
<script src="/Public/Theme/Ace/dialog/dialog.js"></script> 
<script src="/Public/Theme/Ace/js/Hestia.js"></script> 
<script src="/Public/Theme/Ace/js/ace.js"></script> 
<script src="/Public/Theme/Ace/js/framework-ui.js"></script> 
<!-- <script src="/Public/Theme/Ace/js/framework-clientdata.js"></script>  -->

<div>
    #@main()
</div> 
#end