<script src="__PUBLIC__/Ace/jquery/jquery-1.11.1.min.js"></script> 

<link rel='stylesheet' type='text/css' href='__PUBLIC__/Ace/css/framework-font.css'/>
<link rel='stylesheet' type='text/css' href='__PUBLIC__/Ace/css/framework-ui.css'/>

<link rel='stylesheet' type='text/css' href='__PUBLIC__/Ace/bootstrap/bootstrap.min.css'/>
<script src="__PUBLIC__/Ace/bootstrap/bootstrap.min.js"></script> 

<script src="__PUBLIC__/Ace/knockout/knockout-latest.js"></script> 

<script src="__PUBLIC__/Ace/knockout/knockout.mapping-latest.js"></script> 
<script src="__PUBLIC__/Ace/js/kohelper.js"></script> 

<script src="__PUBLIC__/Ace/validate/jquery.validate.min.js"></script> 
<script src="__PUBLIC__/Ace/My97DatePicker/WdatePicker.js"></script> 

<link rel='stylesheet' type='text/css' href='__PUBLIC__/Ace/dialog/dialog.css'/> 
<script src="__PUBLIC__/Ace/dialog/dialog.js"></script> 
<script src="__PUBLIC__/Ace/js/Hestia.js"></script> 
<script src="__PUBLIC__/Ace/js/ace.js"></script> 
<div>
{__CONTENT__}
</div> 
