<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="__PUBLIC__/NFine/css/framework-font.css" rel="stylesheet" />
<link href="__PUBLIC__/NFine/css/framework-theme.css" rel="stylesheet" />

<script src="__PUBLIC__/NFine/js/jquery/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/NFine/js/bootstrap/bootstrap.js"></script>
<link href="__PUBLIC__/NFine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
 
<script src="__PUBLIC__/NFine/js/layout/jquery.layout.js"></script>
    
<script src="__PUBLIC__/NFine/js/wdtree/tree.js"></script>
<link href="__PUBLIC__/NFine/js/wdtree/tree.css" rel="stylesheet" />

<link href="__PUBLIC__/NFine/js/select2/select2.min.css" rel="stylesheet" />
<script src="__PUBLIC__/NFine/js/select2/select2.min.js"></script>

 <link href="__PUBLIC__/NFine/js/wizard/wizard.css" rel="stylesheet" />
    <script src="__PUBLIC__/NFine/js/wizard/wizard.js"></script>

<script src="__PUBLIC__/NFine/js/validate/jquery.validate.min.js"></script>
<script src="__PUBLIC__/NFine/js/datepicker/WdatePicker.js"></script>

<script src="__PUBLIC__/NFine/js/jqgrid/jqgrid.min.js"></script>
<link href="__PUBLIC__/NFine/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="__PUBLIC__/NFine/js/jqgrid/grid.locale-cn.js"></script>

<link href="__PUBLIC__/NFine/css/framework-ui.css" rel="stylesheet" />
<script src="__PUBLIC__/NFine/js/framework-ui.js"></script>
<script src="__PUBLIC__/NFine/js/indexsearch.js"></script>

<!-- <script src="__PUBLIC__/NFine/js/jquery-ui/jquery-ui.min.js"></script>
<link href="__PUBLIC__/NFine/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" /> -->
</head>
<body>
<div>
    {__CONTENT__}
</div>
</body>
</html>