#@layout()
#define main()
<link rel='stylesheet' type='text/css' href='/Public/Theme/Ace/wizard/wizard.css'/>
<script src="/Public/Theme/Ace//wizard/wizard.js"></script> 
<link rel='stylesheet' type='text/css' href='/Public/Theme/Ace/wdtree/tree.css'/>
<script src="/Public/Theme/Ace/wdtree/tree.js"></script> 
<link rel='stylesheet' type='text/css' href='/Public/Theme/Ace/select2/select2.min.css'/>
<script src="/Public/Theme/Ace/select2/select2.min.js"></script> 

<script>
    var _vm;
    $(function () {
        var vm = new ViewModel();
        _vm = vm;
        ko.applyBindings(vm);
        vm.Init();
    });
    
    function ViewModel() {
        var me = this;
        ViewModelBase.call(me);
        vmExtend.call(me);
        me.DeleteUrl = "User/deleteModels";
        me.Dialog = new Dialog(me);

        me.Dialog = new Dialog(me);
	        me.RevisePasswordDialog = new RevisePasswordDialog();
	        me.OpenRevisePasswordDialog = function () {
	        me.RevisePasswordDialog.Open(me.DataTable.SelectedModel());
        }
        
        //详情对话框
        me.DetailDialog = new DetailDialog(me);
        me.Detail = function () {
        me.DetailDialog.Open(me.DataTable.SelectedModel(), "详情");
        }
    }
    
    function vmExtend() {
        var me = this;
        me.Init = function () {
            me.LoadModels();
        }

        me.LoadModels = function (page) {
            me.DataTable.SelectedModel(null);
            var params = me.SearchModel();
            <!--分页-->
            var CurPage = me.DataTable.CurrentPage();
            params.page = page || (CurPage === 0 ? 1 : CurPage);
            params.rows = 20;
            <!--end分页-->
            $ace.get("User/getModels", params, function (result) {
            	//console.log(result);
                me.DataTable.SetPagedData(result.Data);
            }
          );
       }
   }

    //对话框
    function Dialog(vm) {
        var me = this;
        DialogBase.call(me);
        me.OnOpen = function () {
            var model = me.EditModel();
            if (model) {
                var bindModel = $ko.toJS(model);
                me.Model(bindModel);
            }
            else {
                me.Model();
            }
            initControl();
            var userId = me.Model().id;  
            
            $("#permissionTree").html(null); //角色树加载
            $("#permissionTree").treeview({
                height: 256,
                showcheck: true,
                url:"User/getPermissionRoleTree",
                param: { userid: userId },
                cbiconpath: "/Public/Theme/Bootstrap/js/wdtree/images/icons/",
                
            });
            //组树加载
            $("#permissionGroupTree").html(null);
            $("#permissionGroupTree").treeview({
                height: 256,
                showcheck: true,
                url: "User/getPermissionGroupTree",
                param: { userid: userId },
                cbiconpath: "/Public/Theme/Bootstrap/js/wdtree/images/icons/"
            });
        }        
    	
        //点击保存
        me.OnSave = function () {
            
            var model = me.Model();
            if (!$('#form1').formValid()) {
                return false;
            }

			//角色树权限
            var permissionIdArr = $("#permissionTree").getCheckedNodes();
            var rolelist = "";
            var c = "";
            for (var i = 0; i < permissionIdArr.length; i++) {
            	rolelist += c + permissionIdArr[i];
                c = ",";
            }
            //组树权限
            var permissionIdGroupArr = $("#permissionGroupTree").getCheckedNodes();
            var grouplist = "";
            var c = "";
            for (var i = 0; i < permissionIdGroupArr.length; i++) {
            	grouplist += c + permissionIdGroupArr[i];
                c = ",";
            }
            
			//角色树权限
            model.rolelist = rolelist;
            model.grouplist = grouplist;
            //model.id=0;
            
			//新增或修改保存
            if (me.EditModel()) {
                $ace.post("User/updateModels", model, function (result) {
                    $ace.msg(result.Msg);
                    me.Close();
                    vm.LoadModels();
                }
               );
            }
            else {
            	
                $ace.post("User/addModels" , model, function (result) {
                	console.log(result);
                    $ace.msg(result.Msg);
                    me.Close();
                    vm.LoadModels();
                }  );
            }
        }

        function initControl() {
            var w = $('#wizard').wizard();
            w.on('change', function (e, data) {
                var $finish = $("#btn_finish");
                var $next = $("#btn_next");
                if (data.direction == "next") {
                    switch (data.step) {
                        case 2:
                            if (!$('#form1').formValid()) {
                                return false;
                            }
                            $finish.show();
                            $next.hide();
                            break;
                        default:
                            break;
                    }
                }
                else {
                    $finish.hide();
                    $next.show();
                }
            });
        }
    }
  
    //详情
    function DetailDialog() {
        var me = this;
        DialogBase.call(me);

        me.OnOpen = function () {
            me.ShowSaveButton(false);
            var model = me.EditModel();
            if (model) {
                var bindModel = $ko.toJS(model);
                me.Model(bindModel);
            }
            else {
                me.Model({});
            }
        }
    }


    //重置密码
    function RevisePasswordDialog(vm) {
        var me = this;
        DialogBase.call(me);
        me.Title("重置密码");
        me.OnOpen = function () {
            var model = me.EditModel();
            if (!model) {
                throw new Error();
            }

            var bindModel = $ko.toJS(model);
            var m = {};
            m.id = bindModel.id;
            m.username = bindModel.username;
            m.password = bindModel.password; 
            me.Model(m);
        }
        me.OnSave = function () {
            if (!$('#RevisePasswordForm').formValid()) {
                return false;
            }
            var model = me.Model();
            var pwd = model.password;
            var data = { userid: model.id, newpassword: pwd };
            $ace.post("User/RevisePassword", data, function (result) {console.log(result);
                    $ace.msg(result.Msg);
                    me.Close();
                    $ace.reload();
                }
           ); 
         }
    }
    
</script>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$ace.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" data-bind="click:Edit,attr:{disabled:!DataTable.SelectedModel()}"><i class="fa fa-pencil-square-o"></i>修改</button>
            <button class="btn btn-primary" data-bind="click:Delete,attr:{disabled:!DataTable.SelectedModel()}"><i class="fa fa-trash-o"></i>删除</button>
            <button class="btn btn-primary" data-bind="click:Add"><i class="fa fa-plus"></i>添加</button>
            <button class="btn btn-primary" data-bind="click:Detail,attr:{disabled:!DataTable.SelectedModel()}"><i class="fa fa-pencil-square-o"></i>详情</button>
            <button class="btn btn-primary" data-bind="click:OpenRevisePasswordDialog,attr:{disabled:!DataTable.SelectedModel()}"><i class="fa fa-key"></i>重置密码</button>      
       </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="输入关键字" style="width: 200px;" data-bind="value:SearchModel().keyword">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary" data-bind="click:Search"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover" data-bind="with:DataTable">
        <thead>
            <tr>
                <th style="width:20px;"></th>
                <th>用户名</th>
                <th>密码</th>
                <th>角色</th>
                <th>分组</th>
            </tr>
        </thead>

        <tbody data-bind="foreach:Models">
            <tr data-bind="click:$parent.SelectRow">
                <td data-bind="text:$parent.GetOrdinal($index())"></td>
                <td data-bind="text:username,tootip:{title:'xzxx',trigger:'hover',placement:'right'}"  ></td>
                <td data-bind="text:$ace.getFuzzyContent(password()),attr:{herf:'#',title:password}"></td>                
                <td data-bind="text:$ace.getFuzzyContent(rolelist()),attr:{herf:'#',title:rolelist}"></td>
                <td data-bind="text:$ace.getFuzzyContent(grouplist()),attr:{herf:'#',title:grouplist}"></td>  <!-- getFuzzyContent :缂╁啓-->
            </tr>
        </tbody>

           <!--分页 -->
           #include("/WEB-INF/View/TemplateA/tfoot.html")  
    </table>
</div>

#include("/WEB-INF/View/TemplateA/Shared/dialogHead.html")
<div class="modal-body">
    <form id="form1">
        <div class="widget-body">
            <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
                  <ul class="steps">
                    <li data-target="#step-1" class="active"><span class="step">1</span>用户信息<span class="chevron"></span></li>
                    <li data-target="#step-2" ><span class="step">2</span>角色权限<span class="chevron"></span></li>
                    <li data-target="#step-3"><span class="step">3</span>组权限<span class="chevron"></span></li>
                </ul>
            </div>
            <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
                <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                    <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                        <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                        请填写用户信息，用于创建或修改用户信息！
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">表单信息</h3>
                        </div>
                        <div class="panel-body" style="width: 98%;">
                            <table class="form">
                                <tr>
                                    <th class="formTitle">用户名称</th>
                                    <td class="formValue">
                                        <input id="username" name="username" type="text" class="form-control required" placeholder="请输入用户名称" data-bind="value:Model().username" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">用户密码</th>
                                    <td class="formValue">
                                        <input id="password" name="password"  type="password"  class="form-control required" placeholder="请输入密码" data-bind="value:Model().password" />
                                    </td>
                                </tr>
                             
                            </table>
                        </div>
                    </div>
                </div>
                <div class="step-pane" id="step-2">
                    <div id="permissionTree"></div>
                </div>
                <div class="step-pane" id="step-3">
                    <div id="permissionGroupTree"></div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer" id="wizard-actions">
    <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
    <a id="btn_next" class="btn btn-default btn-next">下一步</a>
    <a id="btn_finish" class="btn btn-default" style="display: none;" data-bind="click:Save">完成</a>
</div>
#include("/WEB-INF/View/TemplateA/Shared/dialogFoot.html")

#include("/WEB-INF/View/TemplateA/Shared/RevisePassworddialogHead.html")
 <form id="RevisePasswordForm">
        <table class="form">
            <tr>
                 <td class="formTitle">用户名</td>
                    <td class="formValue">
                        <input name="username" readonly="readonly"  type="text" class="form-control" data-bind="value:Model().username" />
                    </td>
            </tr>
            <tr>
                <td class="formTitle">密码</td>
                <td class="formValue">
                    <input id="NewUserPassword" name="password" type="password" class="form-control required" placeholder="请输入新密码" data-bind="value:Model().password" />
                </td>
            </tr>
        </table>
    </form>
#include("/WEB-INF/View/TemplateA/Shared/RevisePassworddialogFoot.html")
#include("/WEB-INF/View/TemplateA/Shared/detailDialogHead.html")
  <form id="DetailForm">
        <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
            <div style="padding-top: 20px; margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">用户名：</td>
                        <td class="formValue">
                            <label class="form-control" data-bind="text:Model().username"></label>
                        </td>                        
                    </tr>
                    <tr>
                        <td class="formTitle">密码：</td>
                        <td class="formValue">
                            <label class="form-control" data-bind="text:Model().password"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">角色：</td>
                        <td class="formValue">
                            <label class="form-control" data-bind="text:Model().rolelist"></label>
                        </td>                        
                    </tr>
                    <tr>
                        <td class="formTitle">分组：</td>
                        <td class="formValue">
                            <label class="form-control" data-bind="text:Model().grouplist"></label>
                        </td>
                    </tr>
                    <tr>                        
                        <td class="formTitle">图片：</td>
                        <td class="formValue">
                            <label class="form-control" data-bind="text:Model().photo"></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
#include("/WEB-INF/View/TemplateA/Shared/detailDialogFoot.html")
#end